@model IEnumerable<netProject.Models.course>

@{
    ViewBag.Title = "Courses";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<br/>
<br/>
<br/>
<p>
    @Html.ActionLink("Create New", "UpadeExamAdmin")
</p>
<table class="table">
    <tr>
   
        <th>
            @Html.DisplayNameFor(model => model.Moad1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moad2)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Moad1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moad2)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditExam", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsExam", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteExam", new { id = item.Id })
            </td>
        </tr>
    }

</table>
